@import "./theme.css";
@import "./header.css";
@import "./main.css";
@import "./card.css";
/* -------------------------------------------------------- */
/* Global Styles */
/* -------------------------------------------------------- */

*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --color-black: #000000;
  --color-pink: #ffc0cb;
  --color-peach: #fddcd2;
}

body {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  font-family: system-ui, sans-serif;
  background: var(--body-bg);
}
